/**
 * The logo type
 */

.a-logoType {
	display: flex;
	font-size: $font-size-logo;
	margin: 0;
	height: 144px;
	justify-content: center;
	// align-items: center;
	padding-top: 28px;
	// height: rem(32px);

	// display: none;

	// @include at($screen-sm) {
	// 	display: block;
	// }
}