<div class="u-container">
  <div class="m-deleteAccount">
    <h1 class="m-deleteAccount__heading--large">Are you sure you want to delete your account?</h1>
    <h3 class="m-deleteAccount__heading--small">This can't be undone!</h3>
    {{button "No! Go back!" 0 "btn-back" ""}}
    {{button "Yes, delete my account" 3 "btn-delete-confirm" "a-button--ghost a-button--low"}}
  </div>
</div>