<div class="u-container--small u-background--light">
  <form action="" class="o-form o-form--shiftLeft">
    <h1 class="a-heading a-heading--large">Forgot Password?</h1>
    <h3 class="a-heading a-heading--small">No problem,<br>enter your email address and we will send a link to reset it!</h3>
    {{emailInput "Email" "example@example.com" "" "email"}}
    {{button "Send Reset Link" 3 "btn-send-reset-link" "a-button--low"}}
    {{button "Back" 2 "btn-back" "a-button--back"}}
  </form>
</div>
