<div class="u-container u-spacer-t">
  {{!-- {{customHeader "Change Username"}}
    {{textInput "New Username" "User12345" "m-inputText m-inputText--soloCenter" "username"}} --}}

  <h1 class="a-mainHeader a-mainHeader--highCenter" id="message-header">The game doesn't exist anymore</h1>

{{!-- http://localhost:8080/#!/lobby?gameID=kZYI0inWpAA17Mhi2rkLBIKySI=match=0 --}}
    {{button "Home" 3 "btn-home" "a-button--low"}}
    {{!-- {{button "Back" 2 "btn-back" "a-button--back"}} --}}
</div>