<div class="u-container u-spacer-t">
  <div class="m-winHeader">
    <h1 class="m-winHeader__user" id="winner-name">User12345</h1>
    <h1 class="m-winHeader__text">won the game!</h1>
  </div>

  <div class="o-winnersList" id="winners-container"></div>

  {{playButton "Play Again" 2 "btn-play-again" "a-playButton--finish"}}
  {{button "Leave" 2 "btn-leave" "a-button--back"}}
</div>