<div class="u-container u-spacer-t">
  {{customHeader "Change Username"}}
    {{passwordInput "Room Password" "" "m-inputText m-inputText--soloCenter" "room-password"}}

    {{button "Enter" 3 "btn-enter" "a-button--low"}}
    {{button "Back" 2 "btn-back" "a-button--back"}}
</div>