<div class="u-container u-spacer-t">
  {{pageTitleHeader}}

  <div class="o-cardContainer o-cardContainer--large" id="card-container"></div>
  {{!-- <div class="o-mapCard">
    <div class="o-mapCard__header">
      <span class="o-mapCard__mapName">Korenmarkt</span>
      <span class="o-mapCard__distance">1 km</span>
    </div>
  </div> --}}

  {{!-- {{button "Back" 2 "btn-back" "a-button--back"}} --}}

</div>