<div class="u-container u-spacer-t">
  {{customHeader "Change Password"}}
      {{emailInput "Email" "example@example.com" "m-inputText m-inputText--soloCenter" "email"}}
      {{button "Send Reset Link" 3 "btn-send-reset-link" "a-button--low"}}
    {{button "Back" 2 "btn-back" "a-button--back"}}
</div>