<div class="u-container u-spacer-t">
  {{customHeader "Settings"}}

    <div class="u-centerContainer u-centerContainer--absolute">
      <div class="m-actionButton" id="change-username">
        <span class="m-actionButton__text" id="change-username-btn-text">User1111</span>
        <img class="m-actionButton__icon m-actionButton__icon--edit" src="../assets/icons/edit.svg" alt="edit-icon">
      </div>

      <div class="m-actionButton" id="change-password">
        <span class="m-actionButton__text">Password</span>
        <img class="m-actionButton__icon m-actionButton__icon--edit" src="../assets/icons/edit.svg" alt="edit-icon">
      </div>

      {{button "Delete Account" 0 "btn-delete-account" "a-button--ghost"}}
    </div>

    {{button "Back" 2 "btn-back" "a-button--back"}}
</div>