/**
 * The Header Styles
 */

.o-cardContainer {
	// display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 136px - 128px);
	// height: calc(100% - 136px - 128px);
	overflow-x: visible;
	overflow-y: scroll;
	// overflow-y: hidden;
	margin-top: 48px;
	margin-bottom: 32px;
	width: 100%;

	// padding: 0 20px;

	&--small {
		position: absolute;
		left: 0;
		// max-height: calc(100vh - 184px - 92px - 24px);
		max-height: calc(100% - 184px - 92px - 24px);
		margin-top: 0;
		margin-bottom: 0;
	}

	&--large {
		height: calc(100vh - 136px - 32px);
		// height: calc(100vh);
		// margin-bottom: 0;
	}
}